<td class="esd-stripe" align="center">
    <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
        <tbody>
        <tr>
            <td class="esd-structure es-p20t es-p10b es-p20r es-p20l" align="left">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td class="esd-container-frame" width="560" valign="top" align="center">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="esd-block-image es-p10t es-p10b" style="font-size: 0px;" align="center"><a target="_blank"><img class="adapt-img" src="https://upwmif.stripocdn.email/content/guids/CABINET_37653718160e384c1b6ac6f5fb44958e/images/86381617879516269.png" alt style="display: block;" width="300"></a></td>
                                </tr>
                                <tr>
                                    <td class="esd-block-text es-p20t es-p10b es-m-txt-c" align="center">
                                        <h3 style="line-height: 100%;">OUR BEST SELLERS!</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="esd-block-text es-p10b es-m-txt-c" align="center">
                                        <h1 style="font-size: 70px; line-height: 100%;">ENJOY {{ .Percent }}% OFF</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="esd-block-text es-p5t es-p5b" align="center">
                                        <p>Hello, {{ .User }}!</p>
                                        <p>The sale lasts from May 30th through June 30th.&nbsp;</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="esd-structure es-p10t es-p10b es-p20r es-p20l" align="left">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td class="esd-container-frame" width="560" valign="top" align="center">
                            <table style="border-left:2px dashed #cccccc;border-right:2px dashed #cccccc;border-top:2px dashed #cccccc;border-bottom:2px dashed #cccccc;border-radius: 5px; border-collapse: separate;" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="esd-block-text es-p20t es-p20r es-p20l es-m-txt-c" align="center">
                                        <h2>Your promo code</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="esd-block-text es-p10t es-p20b es-p20r es-p20l es-m-txt-c" esd-links-underline="none" align="center">
                                        <h1><strong><a target="_blank" style="text-decoration: none;">"{{ .PromoCod }}"</a></strong><br></h1>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</td>